* {
    font-family: Arial;

}

body {
    margin: 0;
    padding: 0;

}

header {
    display: flex;
    justify-content: center;
    height: 120px;
}

.container {
    display: flex;
    justify-content: space-between;
    width: 990px;
}

.logo {
    display: flex;
    align-items: center;
}

.menu {
    display: flex;
    align-items: center;
}

nav ul,
nav li {
    list-style: none;
    margin: 0;
    padding: 0;
}

nav ul {
    display: flex;
}

nav a {
    display: block;
    padding: 15px;
    text-decoration: none;
    text-transform: uppercase;
    color: #727272;

}

nav .active a,
nav a:hover {
    background-color: #39aae1;
    color: #FFFFFF;
}

#banner {
    background-image: url('../images/img3.jpg');
    background-position: center;
    background-size: cover;
    height: 670px;
    display: flex;
    justify-content: center;
}

.column {
    flex-direction: column;
}

.banner_headline {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.banner_options {
    height: 210px;
    display: flex;
}

.banner_headline h1 {
    color: white;
    font-size: 70px;
    text-shadow: 5px 5px 10px red;
    margin: 0;
    padding: 0;
    max-width: 350px;
}

.banner_headline h2 {
    color: white;
    font-size: 21px;
    text-shadow: 5px 5px 10px red;
    margin: 0;
    padding: 0;
    max-width: 350px;
    margin-top: 30px;
}

.banner1,
.banner2,
.banner3 {
    flex: 1;
    color: white;
    padding: 20px;
}

.banner1 {
    background-color: #39aae1;
}

.banner2 {
    background-color: #0079c7;
}

.banner3 {
    background-color: #2b4c99;
}

.banner_title {
    font-size: 21px;

}

.banner_desc {
    font-size: 12px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.banner_options a {
    display: inline-block;
    border: 1px solid white;
    padding: 5px;
    color: white;
    font-size: 13px;
    text-decoration: none;
}

.banner_hours1 {
    display: flex;
    justify-content: space-between;
    font-size: 14px;
    border-bottom: 1px solid #eeeeee9a;
    margin-top: 15px;
    margin-bottom: 10px;
}

.banner_hours2,
.banner_hours3 {
    display: flex;
    justify-content: space-between;
    color: #FFFFFF;
    border-bottom: 1px solid #eeeeee9a;
    font-size: 14px;
    padding-top: 10px;
    padding-bottom: 10px;
}

#geral {
    display: flex;
    justify-content: center;
}

#geral section {
    flex: 2;
}

#geral aside {
    flex: 1;
}

.widget_title {
    margin-top: 30px;
    margin-bottom: 20px;
}

.widget_title_text {
    color: #000;
    font-size: 21px;
    font-weight: bold;
}

.widget_title_bar {
    width: 50px;
    height: 2px;
    background-color: #36a9e1;
    margin-top: 10px;
}

.widget_title_bar {
    width: 112;
    height: 113x;
    background-color: #36a9e1;
}

.widget_body_square {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.widget_square {
    height: 150px;
    width: 150px;
    background-color: #36a9e1;
    margin-top: 25px;
}

.widget_body_square {
    text-decoration: none;
}

.wedget_body_square a h4 {
    color: #FFFFFF;
    font-size: 20px;
    text-align: center;
    margin-top: 25px;
}

.widget_square:hover {
    background-color: #2b4c99;
}

.widget_title p {
    font-size: 16px;
    margin-top: 25px;
}

.contact_phone {
    border-top: 1px solid #cecacae0;
    margin-top: 34px;
}

.img_phone {
    margin-top: 20px;
    width: 23px;
}

.contact_phone_bar_bottom {
    margin-top: 20px;
    border-bottom: 1px solid #cecacae0;
}

.contact_email {
    margin-top: 2px;
}

.img_email {
    margin-top: 20px;
    width: 23px;
}

.contact_email_bar_bottom {
    margin-top: 20px;
    border-bottom: 1px solid #cecacae0;
}

.contact_page {
    margin-top: 2px;
}

.img_page {
    margin-top: 20px;
    width: 20px;
}

.contact_page_bar_bottom {
    margin-top: 20px;
    border-bottom: 1px solid #cecacae0;
}

article a {
    text-decoration: none;
}

article {
    flex: 1;
    min-width: 300px;
    margin-right: 20px;

}

article .news_data {
    display: flex;
}

article .news_posted_at {
    background-color: #2b4c99;
    color: #FFFFFF;
    font-size: 12px;
    padding: 10px;
    margin-right: 3px;
}

article .news_comments {
    background-color: #39aae1;
    color: #FFFFFF;
    font-size: 12px;
    padding: 10px;
}

article .news_thumbnail {
    margin-top: 30px;
}

article .news_thumbnail img {
    width: 100%;
    height: auto;
}

article .news_title {
    margin-top: 25px;
    margin-bottom: 25px;
    color: #000;
    font-size: 23px;
}

article .news_resume {
    color: #5c5c5c;
    font-size: 14px;
    line-height: 20px;
    margin-bottom: 30px;
}

.flex {
    display: flex;
    flex-wrap: wrap;
}

footer {
    background-color: #1e1e1e;
    display: flex;
    justify-content: center;
}

.footer_menu {
    display: flex;
}

.footer_menu a {
    display: block;
    text-decoration: none;
    padding: 20px;
    color: #ffffff;
}

.fm_1,
.fm_2,
.fm_3 {
    flex: 1;
    color: #FFFFFF;
   
}

.fm_1 {
    background-color: #39aae1;
}

.fm_2 {
    background-color: #0079c7;
}

.fm_3 {
    background-color: #2b4c99;
}

.footer_area {
    display: flex;

}

.footer_areaitem {
    flex: 1;
    color: #FFFFFF;
}

.flexColumn {
    flex-direction: column;
}

footer .widget_title_text {
    color: #FFFFFF;
}

.footer_copy {
    border-top: 1p solid #2c2c2c;
    color: #5c5c5c;
    height: 40px;
    line-height: 40px;
    font-size: 12px;
    margin-top: 30px;
}

.main_text {
    margin-top: 30px;
    margin-bottom: 30px;
    margin-right: 60px;
    color: #727272;
  }
  
  .title_text {
    color: #727272;
  }
  
  .text1 {
    display: flex;
    justify-content: space-between;
    margin-right: 60px;
    color: #727272;
  }
  
  .text2 {
    display: flex;
    justify-content: space-between;
    margin-right: 60px;
    color: #727272;
  }
  
  .text2 a {
    display: flex;
    align-items: center;
    text-decoration: none;
    font-size: 12px;
    color: #FFFFFF;
  }
  
  .social_media {
    margin-top: 10px;
    display: flex;
    text-align: center;
  }
  
  .social_media img {
    margin: 5px;
  }
  
  .social_media a {
    display: block;
    text-decoration: none;
  }
  
  .posts {
    margin-top: 30px;
    margin-right: 60px;
    color: #FFFFFF;
  }
  
  .posts a {
    color: #39aae1;
    display: block;
    text-decoration: none;
  }
  
  .tweets {
    margin-top: 30px;
    margin-right: 60px;
    color: #FFFFFF;
  }
  
  .tweets a {
    color: #39aae1;
    display: block;
    text-decoration: none;
  }
  
  .menuMobile{
    display: none;
    width: 40px;
    height: 40px;
    margin-top: 40px;
    margin-bottom: 40px;
    margin-right: 20px;

}


.mm_line{
    height: 3px;
    background-color:#39aae1 ;
}

@media (max-width: 600px) {
  
.banner_headline{
   padding: 20px;
}

.banner_headline h1{
    font-size: 55px;
}

.banner_headline h2{
    font-size: 17px;
}
  
.banner_options{
   height: auto;
   flex-direction: column;
}
 
.container{
    flex-direction: column;
}

#geral section{
    padding: 20px;
}

#geral section, #geral aside{
    padding:20px ;
}  
  

.footer_menu{
    flex-direction: column;
}
.footer_area{
    flex-direction: column;
    padding: 20px;
}

.footer_copy{
    padding-left: 20px;
}

header .container{
    flex-direction: row;
}

nav ul{
    flex-direction: column;
    display: none;
    position: absolute;
    left: 0;
    width: 100%;
    background-color: #FFFFFF;

}

headrt{
    height: auto ;
}

.logo{
    padding-left: 20px;
}

.menuMobile{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}


.widget_title{
   margin-top: 50px;
}

}
